@model Test.Models.Pet
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Animal" class="control-label"></label>
                <input asp-for="Animal" class="form-control" />
                <span asp-validation-for="Animal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" type="number" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Jabs" class="control-label"></label>
                <input asp-for="Jabs" type="number" class="form-control" />
                <span asp-validation-for="Jabs" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
